input[disabled],button[disabled] {
    opacity:0.4;
    cursor : not-allowed !important;
}
/*
input[disabled] {
    opacity:0.4;
    cursor : not-allowed !important;
} */


.table{
  border-collapse: collapse; border-spacing: 0; width: 100%;
}


.dataTables_processing {
    background-color: #ababab;
    color: #f60b0b
  }


  .filemanager-image{
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("./images/small/img-1.jpg");
    background-color: #363636;
    border-radius: 3px;
    border:1px dotted #373737;
  }
