input[disabled],button[disabled] {
    opacity:0.4;
    cursor : not-allowed !important;
}
/*
input[disabled] {
    opacity:0.4;
    cursor : not-allowed !important;
} */


.table{
  border-collapse: collapse; border-spacing: 0; width: 100%;
}


.dataTables_processing {
    background-color: #ababab;
    color: #f60b0b
  }
